<%- include('bootheader') -%>

<%- include('menubar') -%>

<div class="jumbotron">
    <h1>Dish Finder</h1>
</div>


<form method="post" action="/getfoods">
    What kind of foods do you want? (one word)
    <input type="text" name="food"><br>
    <input type="submit">
</form>

<img src="/images/batman.jpg" width="50">

<% foods.map((recipe) => {%>
<div style="border-top:thick solid blue; margin:20; padding:10">
    <h1 class="bg-warning"> <%= recipe.description %> </h1>

</div>
<%})%>

<%= JSON.stringify(results) %>


<%- include('bootfooter') -%>
